<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level \(%file:%line\) - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.example" level="debug" />

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core" level="warn" />
	<logger name="org.springframework.beans" level="warn" />
	<logger name="org.springframework.context" level="warn" />
	<logger name="org.springframework.web" level="warn" />
	<!-- db-flute -->
	<logger name="org.dbflute" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- turn OFF all logging (children can override) -->
	<root level="OFF">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
